# Distribution / packaging
__pycache__/
*.egg-info/
.DS_Store

/results/jrnnm/4d/*/euler*/*
/results/jrnnm/4d/*/langevin*/*
/results/jrnnm/4d/*/ddim*/*
/results/jrnnm/dataset*.pkl
/results/jrnnm/3d/*/euler*/*
/results/jrnnm/3d/*/langevin*/*
/results/jrnnm/3d/*/ddim*/*
/results/uniform/*
/results/gaussian/*
/results/sbibm/*/*/euler*/
/results/sbibm/*/*/ddim*/
/results/sbibm/*/*/langevin*/
/results/sbibm/*/*/*/euler*/
/results/sbibm/*/*/*/ddim*/
/results/sbibm/*/*/*/langevin*/
/results/sbibm/*/*metrics*/
/results/sbibm/*good/
/results/*/_*/
/results/*/*.png
/results/*/*.pdf
/results/*/*/*/*.png
/results/*/*/*/*.pdf

/tasks/sbibm/_*

/notebooks
/test_toy
*old*
*dataset*
sbibm_results_submission*
sbibm_results_new*
debug*